.dashboard {
    height: 100vh;
}

/* sidebar components */

/* .text {
    color: white;
    font-family: Helvetica, sans-serif; 
    flex: 1;
}

.sidebar h2 {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}

.sidebar h3 {
    display: flex;
    font-size: 13px;
    font-weight: 400;
    align-items: center;
}

.MuiSvgIcon-root {
    padding: 8px;
    color: #7b1113;
    font-size: 18px;
    background-color: white;
    border-radius: 999px;
}

.workspace h3 .MuiSvgIcon-root {
    font-size: 14px;
    margin-top: 1px;
    margin-right: 2px;
    color: green;
} */